ax_core_path = ../../..
#include "ax_core.xcconfig"

OTHER_CFLAGS  = $(OTHER_CFLAGS)  $(ax_core_CFLAGS)
//OTHER_LDFLAGS = $(OTHER_LDFLAGS) $(ax_core_LDFLAGS)

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ../../../src/pch/pch.h


DEPLOYMENT_LOCATION = YES
DSTROOT = $(ax_core_path)
INSTALL_PATH = /lib/$(axPLATFORM)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
