ax_core_path = ../../../../ax_core
#include      "../../../../ax_core/projects/Xcode/OSX/ax_core.xcconfig"

ax_database_path = ../../..
#include "axMySQL.xcconfig"


OTHER_CFLAGS  = $(OTHER_CFLAGS)  $(axMySQL_CFLAGS)  $(ax_core_CFLAGS)
//OTHER_LDFLAGS = $(OTHER_LDFLAGS) $(axMySQL_LDFLAGS) $(ax_core_LDFLAGS)

//GCC_PRECOMPILE_PREFIX_HEADER = YES
//GCC_PREFIX_HEADER = ../../../src/pch/pch.h


DEPLOYMENT_LOCATION = YES
DSTROOT = $(ax_database_path)
INSTALL_PATH = /lib/$(axPLATFORM)/$(CONFIGURATION)